<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="<%= BASE_URL %>css/reset.css">
    <link rel="stylesheet" href="<%= BASE_URL %>css/base.css">
    <link rel="stylesheet" href="<%= BASE_URL %>css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="<%= BASE_URL %>css/topic_v6.css">
    <script type="text/javascript" src="<%= BASE_URL %>js/rem.js"></script>
    <script type="text/javascript" src="<%= BASE_URL %>js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="<%= BASE_URL %>js/swiper-3.4.2.jquery.min.js"></script>
    <title>pyqcomment</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but wap_vue doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <script>
      function createSwiper(){
        var navSwiper = null;
        if($(".th_swpier_container .swiper-slide").length != 1){
            var mySwiperHeadline = new Swiper('.th_swpier_container', {
                spaceBetween: 30,
                loop: true, 
                autoplay: 3000,
                pagination : '.swiper-pagination',
                paginationClickable :true,
            }) 
        }
        if($(".nav_swpier_container .swiper-slide").length != 1){
            var navSwiper = new Swiper('.nav_swpier_container', {
                slidesPerView :'auto'
            });
        }
        return navSwiper;
      }
    </script>
  </body>
</html>
